<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>itcode快速开发平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/public/css/all-skins.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box" id="rrapp" v-cloak>
  <div class="login-logo">
    <b>itcode快速开发平台</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <p class="login-box-msg">用户登录</p>
      <div v-if="error" class="alert alert-danger alert-dismissible">
        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="user.loginId" placeholder="账号">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" v-model="user.loginPwd" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="user.captcha" @keyup.enter="login" placeholder="验证码">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode">点击刷新</a>
      </div>
      
      
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary btn-block btn-flat" @click="login">登录</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script src="/public/libs/jquery.min.js"></script>
<script src="/public/libs/vue.min.js"></script>
<script src="/public/libs/bootstrap.min.js"></script>
<script src="/public/libs/jquery.slimscroll.min.js"></script>
<script src="/public/libs/fastclick.min.js"></script>
<script src="/public/libs/app.js"></script>
<script src="/public/plugins/layer/layer.js"></script>
<script src="/public/js/rsa/jsencrypt.min.js"></script>

<script type="text/javascript">
    // 记载事项
    $(function () {
        let kickoutInfo = getQueryStringChinese("kickoutInfo");
        if (kickoutInfo) {
            layer.alert(kickoutInfo);
        }
    });

    // 加载主对象信息
    let vm = new Vue({
        el:'#rrapp',
        data:{
            error: false,
            errorMsg: '',
            rsaPubKey: '',
            src: 'captcha.jpg',
            user:{}
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        created:function(){
            // 登陆操作
            $.ajax({
                type: "POST",
                url: "/apis/rsa/getRsaPubKey",
                data: JSON.stringify({}),
                dataType: "json", //响应数据类型
                contentType: "application/json", //请求数据类型
                success: function(result){
                    if(result.code == 200){//登录成功
                        vm.rsaPubKey = result.data;
                    }
                }
            });
        },
        methods: {
            refreshCode: function(){ // 刷新验证码
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function (event) {
                // 登陆校验
                if (!validData()) {
                    return;
                }

                //公钥加密
                let encrypt = new JSEncrypt();
                encrypt.setPublicKey(vm.rsaPubKey);
                vm.user.loginPwd = encrypt.encrypt(vm.user.loginPwd);

                // 登陆操作
                $.ajax({
                    type: "POST",
                    url: "/sys/login?language=zh_CN",
                    data: JSON.stringify(vm.user),
                    dataType: "json", //响应数据类型
                    contentType: "application/json", //请求数据类型
                    success: function(result){
                        if(result.code == 200){//登录成功
                            parent.location.href ='index.html';
                        }else{
                            vm.error = true;
                            vm.errorMsg = result.msg;

                            vm.refreshCode();
                        }
                    }
                });
            }
        }
    });

    function validData() {
        if(!vm.user.loginId){
            layer.alert("请输入用户名称！！！");
            return false;
        }

        if(!vm.user.loginPwd){
            layer.alert("请输入用户密码！！！");
            return false;
        }

        if(!vm.user.captcha){
            layer.alert("请输入验证码！！！");
            return false;
        }

        return true;
    }

    //获取url中的参数
    function getQueryStringChinese(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
    }

</script>
</body>
</html>
