<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysDictMapper" >
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysDictExt">
        <id column="dict_id" property="dictId" jdbcType="BIGINT" />
        <id column="dict_type_big" property="dictTypeBig" jdbcType="VARCHAR" />
        <id column="dict_type_small" property="dictTypeSmall" jdbcType="VARCHAR" />
        <id column="dict_code" property="dictCode" jdbcType="VARCHAR" />
        <id column="dict_name_en" property="dictNameEn" jdbcType="VARCHAR" />
        <id column="dict_name_zh" property="dictNameZh" jdbcType="VARCHAR" />
    </resultMap>

</mapper>