<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysLogMapper" >
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysLogExt">
        <id column="log_id" property="logId" jdbcType="VARCHAR" />
        <result column="log_model" property="logModel" jdbcType="VARCHAR" />
        <result column="log_type" property="logType" jdbcType="VARCHAR" />
        <result column="log_content" property="logContent" jdbcType="VARCHAR" />
        <result column="log_req_uri" property="logReqUri" jdbcType="VARCHAR" />
        <result column="log_req_class" property="logReqClass" jdbcType="VARCHAR" />
        <result column="log_req_method" property="logReqMethod" jdbcType="VARCHAR" />
        <result column="log_ip" property="logIp" jdbcType="VARCHAR" />
        <result column="log_operator_id" property="logOperatorId" jdbcType="VARCHAR" />
        <result column="log_operator_name" property="logOperatorName" jdbcType="VARCHAR" />
        <result column="log_time" property="logTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--==============================================mysql语句======================================================-->


    <!--==============================================oracle语句======================================================-->

</mapper>