<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysMenuMapper" >
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysMenuExt">
        <id column="menu_id" property="menuId" jdbcType="DECIMAL" />
        <id column="parent_id" property="parentId" jdbcType="DECIMAL" />
        <id column="menu_type" property="menuType" jdbcType="DECIMAL" />
        <id column="menu_code" property="menuCode" jdbcType="VARCHAR" />
        <id column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <id column="menu_name_en" property="menuNameEn" jdbcType="VARCHAR" />
        <id column="menu_permission" property="menuPermission" jdbcType="VARCHAR" />
        <id column="menu_index" property="menuIndex" jdbcType="DECIMAL" />
        <id column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
        <id column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAllPerms" resultType="java.lang.String">
        select
            sm.menu_permission as "permissions"
        from sys_menu sm
        where sm.menu_permission is not null
            and length(sm.menu_permission) > 0
        group by sm.menu_permission
    </select>

    <select id="selectPointPerms" resultType="java.lang.String">
        select
            sm.menu_permission as "permissions"
        from sys_menu sm
        join sys_role_menu srm on srm.menu_id = sm.menu_id
        join sys_user_role sur on sur.role_id = srm.role_id
        where sm.menu_permission is not null
            and length(sm.menu_permission) > 0
            and sur.user_id = #{userId}
        group by sm.menu_permission
    </select>

    <select id="queryAllMenuId" resultType="java.math.BigDecimal">
        select
            rm.menu_id
        from sys_role_menu rm
        join sys_user_role ur on ur.role_id = rm.role_id and ur.user_id = 2
        where 1 = 1
        group by rm.menu_id
    </select>

    <select id="queryListParentId" resultMap="BaseResultMap">
        select
            sm.menu_id,
            sm.parent_id,
            sm.menu_type,
            sm.menu_code,
            sm.menu_name,
            sm.menu_name_en,
            sm.menu_permission,
            sm.menu_index,
            sm.menu_url,
            sm.menu_icon
        from sys_menu sm
        where parent_id = #{parentId}
        order by menu_index
    </select>

</mapper>