<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysRoleMapper" >
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysRoleExt">
        <id column="role_id" property="roleId" jdbcType="DECIMAL" />
        <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    </resultMap>

    <!--==============================================mysql语句======================================================-->


    <!--==============================================oracle语句======================================================-->

</mapper>