<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysRoleMapper" >
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysRoleExt">
        <id column="role_id" property="roleId" jdbcType="DECIMAL" />
        <id column="role_code" property="roleCode" jdbcType="VARCHAR" />
        <id column="role_name" property="roleName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="querySuperRoleList" resultType="java.util.Map">
        select role_id as "roleId", role_name as "roleName" from sys_role sr where sr.del_flag = 0
    </select>

    <select id="queryUserRoleList" resultType="java.util.Map">

    </select>


</mapper>