<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysUserOnlineMapper" >
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysUserOnlineExt">
        <id column="uo_id" property="uoId" jdbcType="VARCHAR" />
        <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="host" property="host" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="last_access_time" property="lastAccessTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--==============================================mysql语句======================================================-->
    <select id="getExtInfo" resultMap="BaseResultMap" databaseId="mysql">
        select * from sys_user_online suo
        <where>
            1 = 1
            <if test="sessionId != null and sessionId != ''">
                and suo.session_id = #{sessionId}
            </if>
        </where>
    </select>

    <select id="getExtListInfo" resultMap="BaseResultMap" databaseId="mysql">
        select * from sys_user_online suo
        <where>
            1 = 1
            <if test="userId != null">
                and suo.user_id = #{userId}
            </if>
        </where>
        <choose>
            <when test="orderColumn != null and orderColumn.trim() != ''">
                order by ${orderColumn} ${orderRule}
            </when>
            <otherwise>
                order by suo.start_time desc
            </otherwise>
        </choose>
    </select>

    <delete id="deleteshirosession" databaseId="mysql">
        delete from sys_user_online where session_id = #{sessionId}
    </delete>

    <delete id="truncateshirosession" databaseId="mysql">
        TRUNCATE TABLE sys_user_online
    </delete>

    <!--==============================================oracle语句======================================================-->

</mapper>