<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ddp.mapper.security.SysUserMapper">
    <resultMap id="BaseResultMap" type="ddp.ext.security.SysUserExt">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_no" property="userNo" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="SMALLINT"/>
        <result column="login_id" property="loginId" jdbcType="VARCHAR"/>
        <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR"/>
        <result column="user_state" property="userState" jdbcType="CHAR"/>
    </resultMap>

    <select id="getExtInfo" resultMap="BaseResultMap">
        select * from sys_user t
        <where>
            1 = 1
            <if test="loginId != null and loginId != ''">
                and t.login_id = #{loginId}
            </if>
        </where>
    </select>

    <select id="getExtListInfo" resultMap="BaseResultMap">
        select * from sys_user t
        <where>
            1 = 1
        </where>
        <choose>
            <when test="orderColumn != null and orderColumn.trim() != ''">
                order by ${orderColumn} ${orderRule}
            </when>
            <otherwise>
                order by t.user_id asc
            </otherwise>
        </choose>
    </select>


</mapper>